################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/repos/P4/Project 1/bin/Debug/net6.0
/source/repos/P4/Project 1/obj
/source/repos/P4/.vs/P4/FileContentIndex
/source/repos/P4/.vs
*/obj/
/source/repos/P4/lab6_login/bin/Debug/net6.0-windows
/source/repos/P4/lab6_login/obj
/source/repos/P4/DapperJoin_lab3/bin/Debug/net6.0
/source/repos/P4/DapperJoin_lab3/obj/Debug/net6.0
/source/repos/P4/EntityFramework_lab4/bin/Debug/net6.0
/source/repos/P4/EntityFramework_lab4/obj
/source/repos/P4/EntityFramework_Library/bin/Debug/net6.0
/source/repos/P4/EntityFramework_Library/obj
/source/repos/P4/FluentAPI_0508/bin/Debug/net6.0
/source/repos/P4/FluentAPI_0508/obj
/source/repos/P4/Insert_lab2/bin/Debug/net6.0
/source/repos/P4/Insert_lab2/obj/Debug/net6.0
/source/repos/P4/Proj2_temp/obj
/source/repos/P4/Projekt 1 (code first)/bin/Debug/net6.0
/source/repos/P4/Projekt 1 (code first)/obj
/source/repos/P4/Projekt 1 (code first)
/source/repos/P4/Proj2_temp
/source/repos/P4/Project 2/bin/Debug/net6.0-windows
/source/repos/P4/Project 2/obj
