################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/repos/P4/Project 1/bin/Debug/net6.0
/source/repos/P4/Project 1/obj
/source/repos/P4/.vs/P4/FileContentIndex
